body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 90%;
    padding: 20px;
    font-size: 2rem;
    text-align: right;
    border: none;
    background-color:  hsl(0, 16%, 23%);;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color:  hsl(0, 16%, 33%);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: hsl(0, 16%, 43%);
}

button:active {
    background-color: hsl(0, 16%, 43%);
}

.operator-btn {
    background-color: hsl(352, 84%, 71%, 0.863);
}

.operator-btn:hover {
    background-color: hsl(352, 84%, 81%, 0.863);;
}

.operator-btn:active {
    background-color: hsl(352, 84%, 81%, 0.863);;
}
